/* Global Values */
:root {
    --banner-color: #3B2932;
    --main-color: #ffffff;
    --hover-color: var(--font-color);
    --font: "Quicksand";
    --font-color: #58181F;

    --spacing-0: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 36px;
    --spacing-5: 64px;
}

/* Main Page Template */

body {
    display: grid;
    margin: 0;
    grid-template-areas: 
        "topBanner topBanner topBanner search"
        "nav nav nav nav"
        "banner banner banner banner"
        "main main main main"
        "footer footer footer footer";
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 0.1fr 0.25fr 0.15fr 4fr 0.4fr 0.15fr;
    font-family: var(--font);
    justify-content: center;
    text-align: center;
    height: auto;
    width: auto;
}

@media only screen and (max-width: 414px) {
    body {
        grid-template-rows: 0.25fr 0.5fr 0.25fr 5fr 1.3fr 0.2fr;
    }
}

.topBanner {
    background-color: var(--banner-color);
    grid-column: 1/4;
    display: flex;
}

.banner {
    background-color: var(--banner-color);
    grid-column: 1/5;
    display: flex;
}

.welcome {
    color: #ffffff;
    margin: auto;
    width: auto;
    padding: auto;
    justify-content: center;
    align-items: center;

}

/* Banner */

body > banner {
    grid-area: banner;
    background-color: var(--banner-color);
}

/* Search */

.searchbar {
    grid-row: 1;
    grid-column: 4;
    background-color: var(--banner-color);
}

.searchbar-form {
    display: flex;
    width: 70%;
    max-width: 300px;
    margin: 0;
}

.searchbar-input {
    height: 2rem;
    outline: none;
    border-radius: 0.5em 0 0 0.5em;
    border: solid 2px #9F2A3D;
}

button {
    border-radius: 0 0.5em 0.5em 0;
    position: absolute;
    margin: 0;
    padding: 0;
    outline: none;
    border: solid 2px #9F2A3D;
    height: 2.4em;
}

@media only screen and (max-width: 414px) {
    
    .searchbar-input {
        height: 1.5rem;
    }

    button {
        display: none;
    }
}

/* Navigation Bar */
.nav-bar {
    grid-row: 2;
    grid-column: 1/5;
    width: 100%;
    margin-bottom: 0;
}

.nav-content {
    display: inline-flex;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 50%;
    color: var(--font-color);
    box-sizing: border-box;
    padding: 5px 5px;
}

nav a:hover {
    color: var(--font-color);
    box-sizing: border-box;
    text-align: center;
    border-bottom: solid 4px var(--font-color);
    margin-bottom: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 414px)  {
    nav a {
        font-size: 0.8rem;
    }

    nav img {
        display: none;
    }
 }

/* Banner */

h6 {
    color: #fff;
    height: 20px;
}

/* Main */

main {
    grid-column: 2/4;
}

.container-welcome {
    grid-column: 2/4;
    grid-row: 3;
}

.welcome-message {
    grid-column: 2/4;
    font-family: 'Dancing Script', cursive;
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 600;    
}

@media only screen and (max-width: 414px) {
    main {
        grid-column: 1/6;
    }
    .container-welcome {
        grid-column: 1/6;
    }

    .welcome-message {
        font-size: 1.5rem;
    }
}

/* Articles */

.articles {
    grid-column: 4;
    grid-row: 4;
}

.articles-container img {
    width: 50%;
}

.articles-container {
    display: flex;
}

.articles-caption {
    width: 50%;
    margin: auto;
    padding: 0;
}

@media only screen and (max-width: 414px) {
    .articles-caption {
        font-size: smaller;
    }
    
}

/* Sublinks */
.sub-links {
    background-color: var(--banner-color);
    grid-column: 1/5;
    grid-row: 5;
    position: relative;
}

.social-media {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.drinkaware {
    position: absolute;
    left: 0;
    bottom: 0;
}

.drinkaware-logo {
    height: 2em;
    left: 0;
}

.icons {
    height: 2.5em;
    float: right;
    padding: 0.5em;
    width: auto; 
}

.address {
    color: white;
    font-size: smaller;
}

@media only screen and (max-width: 414px) {
    .address {
        font-size: 0.5em;
    }

    .icons {
        height: 1.5em;
    }

    .drinkaware-logo {
        height: 1.5em;
    }
}

/* Footer */

footer {
    grid-column: 1/5;
    grid-row: 6;
}