/* Body of Page */
* {
    box-sizing: border-box;
    font-family: "Cabin";
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* Banner */

#main-header {
    font-weight: 50%;
    font-size: 40px;
    color: #722F37;
    text-align: center;
    height: 10%;
    background-color:white;
    border-bottom: solid 1px;
    z-index: 100;
    position: fixed;
}

#main-navigation {
    font-size: 20px;
    color: black;
    text-align: center;
    border-bottom: solid 1px transparent;
    width: 100%;
    height: auto;
    margin-top: 1.2%;
}

#header-logo {
    float: left;
    width: 10%;
    height: auto;
    position: relative;
    z-index: 1;
    
}

nav li {
    display: inline;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    box-sizing: border-box;  
}

#search {
    float: right;
    width: 10%;
}

/* Nav - within banner */
.nav-content {
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
    font-weight: 700;
    margin: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 50%;
    color: #722F37;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 10px;
}

nav a:hover {
    color: #722F37;
    /*background-color: firebrick;*/
    box-sizing: border-box;
    text-align: center;
    /*border-radius: 50px; */
    border-bottom: solid 4px darkred;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  

  /* Welcome section */

  .welcome-img {
      width: 100%;
      height: auto;
      opacity: 40%;
  }

  .welcome-message {
      position: absolute;
      top: 20%;
      color: #722F37;
      font-size: 50px;
      text-align: center;
      background-color: white;
      width: 100%;
      justify-content: center;
      align-content: center;
      padding-bottom: 10px;
  }

  .introduction {
    display: flex;
    position: absolute;
    top: 27.5%;
    color: #722F37;
    width: 100%;
    background-color: white;
    align-content: center;
    justify-content: center;
  }

  /* Footer */

  /*Need to put space between footer logos, and incorporate the copyright */

  #footer {
      background-color:white;
      height: 40px;
      border-top: solid 3px #722F37;
      width: 100%;
      text-align: center;
  }

  .drinkaware {
      height: 40px;
      width: auto;
      float: right;
      padding-top: 5px;
  }

  .linkedin-logo {
    height: 40px;
    width: auto;
    padding-top: 5px;
    }

.telephone {
    height: 40px;
    width: auto;
    padding-top: 5px;
}

.email {
    height: 40px;
    width: auto;
    padding-top: 5px;
}

  /* Section 1 - About Us Brief Summary */
  .container {
      position: relative;
      box-sizing: border-box;
      border-radius: 50%;
      background-image: url("../images/mads_selfie.jpg");
      background-size: 500px;
      bottom: 75%;
      width: 500px;
      height: 500px;
  }
  
  .about-me-intro {
      position: relative;
      display: inline-flex;

      margin-left: 20px;
      border: solid 4px #722F37;
    }

    .about-me-brief {
        text-align: center;
        box-sizing: border-box;
        align-self: center;        
        padding: 5px;
    }